<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <img src="{{recepie.imgPath}}" alt="" class="img-responsive" style="max-height: 300px;">
        </div>
    </div>
        <div class="row">
            <div class="col-sm-12">
                <h1>{{recepie.name}}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 ">
            <div class="dropdown" dropdowndirective #r="dropdowndirective">
                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    Manage Recepie
                </button>
                <ul class="dropdown-menu" [ngClass]="{'show':r.isshow}">
                    <a class="dropdown-item" >Edit</a>
                    <a class="dropdown-item">Delete</a>
                </ul>
              </div>
            </div>
        </div>                  
        <div class="row">
                <div class="col-sm-12">
                    {{recepie.description}}
                </div>

              </div>
    </div>
