<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <img src="{{recepie.imageUrl}}" alt="" class="img-responsive" style="max-height: 300px;">
        </div>
    </div>
        <div class="row">
            <div class="col-sm-12">
                <h1>{{recepie.recepieName}}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 ">
            <div class="dropdown" dropdowndirective #r="dropdowndirective">
                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    Manage Recepie
                </button>
                <ul class="dropdown-menu" [ngClass]="{'show':r.isshow}">
                    <a class="dropdown-item" (click)="sendToShoppingList()" routerLink='/shopping'>Add To Shopping List</a>
                    <a routerLink="/recepies/{{id}}/edit" class="dropdown-item">Edit</a>
                    <a class="dropdown-item"  (click)="deleteRecepie(id)" routerLink="/recepies">Delete</a>
                </ul>
              </div>
            </div>
        </div>                  
        <div class="row">
                <div class="col-sm-12">
                    {{recepie.recepieDescription}}
                </div>

              </div>

              <div class="row">
                  Ingredients:
                    <div class="col-sm-12" *ngFor="let ingredient of ingredients,let i=index ">
                            <div class="container">
                                    <ul  class="list-group">
                                    <li class="list-group-item">{{ingredient.ingredientName}}-{{ingredient.ingredientAmount}}</li>
                    </ul>
                                </div>
    
                  </div>
                  </div>
    </div>
