<div class="container">
<div class="row">
<div class="col-sm-12">
<form (ngSubmit)="addNewIngredient(f.value)" #f="ngForm">
<div class="row">
<div class="col-sm-7 form-group">
<label for="name">Name</label>
<input type="text" id="name" class="form-control"  ngModel name="name" #name="ngModel" pattern="[a-zA-Z]+" required>
</div>

<div class="col-sm-5 form-group">
    <label for="amount">Amount</label>
    <input type="" id="amount" class="form-control" ngModel name="amount" #amount="ngModel" pattern="[0-9]+" required>
    </div>
    <span class="help-block" *ngIf="!amount.valid && amount.touched">Alphabets are not Allowed here!<hr></span>
    <span class="help-block" *ngIf="!name.valid && name.touched">All  Fields are is required here!<hr></span>    
</div>
<div class="row">
<div class="col-sm-12">
<button class="btn btn-success" type="submit" [disabled]="!f.valid" >Add</button>
<button class="btn btn-danger" type="button">Delete</button>
<button class="btn btn-primary" type="button" (click)="clearShoppingList(f.value)">Clear</button>
</div>
</div>
</form>
</div>
</div>
</div>
<hr>